.form-container{
    text-align: center;
}


.form-container h2{
    margin: 2rem;
}


form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding: 2rem 1rem;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #8A2BE2;
    background-color: #fff;
    text-align: start;
}


form label{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 80%;
}


label span{
    font-size: 1rem;
}


label input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #8A2BE2;
}


label textarea{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #8A2BE2;
}