*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body{
    background-color: rgba(226, 226, 226, 0.715);
}




ul li{
    list-style: none;
}



a{
    text-decoration: none;
    color: #8A2BE2;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.5s;
}


a:hover{
    opacity: 1;
}


.btn-primary{
    padding: 10px;
    background-color: #8A2BE2;
    color: #fff;
    border-radius: 5px;
    border: none;
    max-width: 100px;
    opacity: 0.8;
    transition: 0.5s;
    font-size: 1rem;
}


.btn-primary:hover{
    opacity: 1;
}


.btn-secondary{
    padding: 10px;
    background-color: #FF0000;
    color: #fff;
    border-radius: 5px;
    border: none;
    max-width: 100px;
    opacity: 0.8;
    transition: 0.5s;
    font-size: 1rem;
}


.btn-secondary:hover{
    opacity: 1;
}